

<%- include("Partials/header.ejs")  %>

<section class="welcome-section">
    <div class="welcome-container">
        <div class="welcome-text tx1">
            <h1>Welcome to Life Blog</h1>
            <h4>Spread your thoughts.</h4>
        </div>
        <div class="welcome-text tx2">
            <h5>
                Welcome to Life Blog, your go-to destination for insightful articles, tips, and stories on various topics. Here at Life Blog, we strive to bring you high-quality content that informs, inspires, and entertains. Whether you're looking for advice, updates on the latest trends, or simply some engaging reads, you'll find it all here.
            </h5>
        </div>
    </div>
</section>

<section class="features-section">
    <div class="features-container">
        <div class="feature">
            <h3>Latest Articles</h3>
            <p>Stay updated with the latest trends and articles from various domains.</p>
        </div>
        <div class="feature">
            <h3>Write Your Own</h3>
            <p>Share your thoughts and experiences by writing your own blog posts.</p>
        </div>
        <div class="feature">
            <h3>Join the Community</h3>
            <p>Engage with a community of like-minded individuals who share your interests.</p>
        </div>
    </div>
</section>



<%- include("Partials/footer.ejs")  %>
