<%- include("Partials/header.ejs")  %>

<section class="confirmation-section">
    <h1> Post Submitted Successfully</h1>
    <p>Your blog post has been submitted and is now live on the site.</p>
    <p>You can see your post <a href="/posts">Here</a></p>
</section>

<!-- <%- include("Partials/footer.ejs")  %> -->